In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, StratifiedKFold
import lightgbm as lgb
from sklearn.metrics import roc_auc_score
from lightgbm import LGBMClassifier

import warnings
warnings.filterwarnings('ignore')

In [26]:
INPUT_DIR = "../input/"

train = pd.read_csv(INPUT_DIR + "train.csv")
test = pd.read_csv(INPUT_DIR + "test.csv")
sample_sub = pd.read_csv(INPUT_DIR + "sample_submission.csv")

In [27]:
pd.set_option('display.max_columns', 60)
train.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,0,0,Cash loans,F,N,N,0,112500.0,755190.0,36328.5,675000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-9233,-878,-333.0,-522,NaN,1,1,1,1,0,0,Core staff,2.0,2,2,0,1,1,0,1,1,School,NaN,0.372591,NaN,0.0,0.0,0.0,0.0,-292.0,NaN,NaN,NaN,NaN
1,1,0,Cash loans,F,N,Y,0,225000.0,585000.0,16893.0,585000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.008019,-20148,365243,-4469.0,-3436,NaN,1,0,0,1,0,0,NaN,2.0,2,2,0,0,0,0,0,0,XNA,NaN,0.449567,0.553165,0.0,0.0,0.0,0.0,-617.0,0.0,0.0,0.0,1.0
2,2,0,Cash loans,F,N,Y,0,54000.0,334152.0,18256.5,270000.0,Family,State servant,Secondary / secondary special,Married,House / apartment,0.004960,-18496,-523,-3640.0,-2050,NaN,1,1,1,1,1,0,Core staff,2.0,2,2,0,0,0,0,0,0,Postal,NaN,0.569503,NaN,4.0,0.0,4.0,0.0,-542.0,NaN,NaN,NaN,NaN
3,3,0,Cash loans,F,N,Y,0,67500.0,152820.0,8901.0,135000.0,Children,Pensioner,Lower secondary,Widow,House / apartment,0.005002,-24177,365243,-4950.0,-3951,NaN,1,0,0,1,1,0,NaN,1.0,3,3,0,0,0,0,0,0,XNA,NaN,0.105235,0.767523,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1,Cash loans,M,N,N,0,157500.0,271066.5,21546.0,234000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,With parents,0.006296,-10685,-697,-5101.0,-3226,NaN,1,1,1,1,0,0,Drivers,2.0,3,3,0,0,0,0,1,1,Business Entity Type 3,0.342344,0.202490,0.669057,0.0,0.0,0.0,0.0,-1243.0,0.0,0.0,0.0,4.0

In [28]:
test['TARGET'] = np.nan
data = pd.concat([train, test], ignore_index=True, sort=False)

In [29]:
# 融資額を月々の支払いで割った
data['NEW_CREDIT_TO_ANNUITY_RATIO'] = data['AMT_CREDIT'] / data['AMT_ANNUITY']
data['NEW_CREDIT_TO GOODS_RATIO'] = data['AMT_CREDIT'] / data['AMT_GOODS_PRICE']
data['NEW_INC_PER_CHILD'] = data['AMT_INCOME_TOTAL'] / (1 + data['CNT_CHILDREN'])
data['NEW_EMPLOY_TO_BIRTH_RATIO'] = data['DAYS_EMPLOYED'] / data['DAYS_BIRTH']
data['NEW_ANNUITY_TO_INCOME_RATIO'] = data['AMT_ANNUITY'] / (1 + data['AMT_INCOME_TOTAL'])
data['NEW_SCORES_SUM'] = data['EXT_SOURCE_1'] + data['EXT_SOURCE_2'] + data['EXT_SOURCE_3']
data['NEW_EXT_SOURCES_PROD'] = data['EXT_SOURCE_1'] * data['EXT_SOURCE_2'] * data['EXT_SOURCE_3']
data['NEW_SOURES_MEAN'] = data[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)
data['NEW_SCORES_STD'] = data[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].std(axis=1)
data['NEW_SCORES_STD'] = data['NEW_SCORES_STD'].fillna(data['NEW_SCORES_STD'].mean())
data['NEW_CAR_TO_BIRTH_RATIO'] = data['OWN_CAR_AGE'] / data['DAYS_BIRTH']
data['NEW_CAR_TO_EMPLOY_RATIO'] = data['OWN_CAR_AGE'] / data['DAYS_EMPLOYED']
data['NEW_PHONE_TO_BIRTH_RATIO'] = data['DAYS_LAST_PHONE_CHANGE'] / data['DAYS_BIRTH']
data['NEW_PHONE_TO_EMPLOY_RATIO'] = data['DAYS_LAST_PHONE_CHANGE'] / data['DAYS_EMPLOYED']
data['NEW_CREDIT_TO_INCOME_RATIO'] = data['AMT_ANNUITY'] / data['AMT_INCOME_TOTAL']

In [30]:
categorical_columns = [col for col in data.columns if data[col].dtype == 'object']
data = pd.get_dummies(data, columns=categorical_columns, dummy_na=True)

In [31]:
data.head(5)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,...,ORGANIZATION_TYPE_Legal Services,ORGANIZATION_TYPE_Medicine,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Mobile,ORGANIZATION_TYPE_Other,ORGANIZATION_TYPE_Police,ORGANIZATION_TYPE_Postal,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Religion,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_School,ORGANIZATION_TYPE_Security,ORGANIZATION_TYPE_Security Ministries,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Services,ORGANIZATION_TYPE_Telecom,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 3,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,ORGANIZATION_TYPE_nan
0,0,0.0,0,112500.0,755190.0,36328.5,675000.0,0.010032,-9233,-878,-333.0,-522,NaN,1,1,1,1,0,0,2.0,2,2,0,1,1,0,1,1,NaN,0.372591,...,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0.0,0,225000.0,585000.0,16893.0,585000.0,0.008019,-20148,365243,-4469.0,-3436,NaN,1,0,0,1,0,0,2.0,2,2,0,0,0,0,0,0,NaN,0.449567,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,2,0.0,0,54000.0,334152.0,18256.5,270000.0,0.004960,-18496,-523,-3640.0,-2050,NaN,1,1,1,1,1,0,2.0,2,2,0,0,0,0,0,0,NaN,0.569503,...,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,3,0.0,0,67500.0,152820.0,8901.0,135000.0,0.005002,-24177,365243,-4950.0,-3951,NaN,1,0,0,1,1,0,1.0,3,3,0,0,0,0,0,0,NaN,0.105235,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,4,1.0,0,157500.0,271066.5,21546.0,234000.0,0.006296,-10685,-697,-5101.0,-3226,NaN,1,1,1,1,0,0,2.0,3,3,0,0,0,0,1,1,0.342344,0.202490,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [32]:
import re
data = data.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))

In [33]:
data['NEW_CREDIT_TO_ANNUITY_RATIO'] = data['NEW_CREDIT_TO_ANNUITY_RATIO'].fillna(data['NEW_CREDIT_TO_ANNUITY_RATIO'].mean())
data['NEW_SOURES_MEAN'] = data['NEW_SOURES_MEAN'].fillna(data['NEW_SOURES_MEAN'].mean())
data['NEW_CREDIT_TOGOODS_RATIO'] = data['NEW_CREDIT_TOGOODS_RATIO'].fillna(data['NEW_CREDIT_TOGOODS_RATIO'].median())

In [34]:
train = data[data['TARGET'].notnull()]
test = data[data['TARGET'].isnull()]

In [35]:
print(train.columns[train.isnull().sum() > 0])

Index(['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'OWN_CAR_AGE', 'CNT_FAM_MEMBERS',
       'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'NEW_ANNUITY_TO_INCOME_RATIO',
       'NEW_SCORES_SUM', 'NEW_EXT_SOURCES_PROD', 'NEW_CAR_TO_BIRTH_RATIO',
       'NEW_CAR_TO_EMPLOY_RATIO', 'NEW_PHONE_TO_BIRTH_RATIO',
       'NEW_PHONE_TO_EMPLOY_RATIO', 'NEW_CREDIT_TO_INCOME_RATIO'],
      dtype='object')

lightgbmでの方法

https://www.kaggle.com/code/ogrellier/lighgbm-with-selected-features
https://www.kaggle.com/code/znyksh/fork-lightgbm-with-simple-features

In [36]:
skf = StratifiedKFold(n_splits=5, random_state=42, shuffle=True)
oof = pd.DataFrame()
models = []
scores = 0.0
feats = [f for f in train.columns if f not in ['TARGET', 'SK_ID_CURR', 'index']]


for fold, (train_idx, valid_idx) in enumerate(skf.split(train[feats], train['TARGET'])):
  train_x, train_y = train[feats].iloc[train_idx], train['TARGET'].iloc[train_idx]
  valid_x, valid_y = train[feats].iloc[valid_idx], train['TARGET'].iloc[valid_idx]

  print("Fold : ", fold + 1)

  lgb = LGBMClassifier(n_estimators=10000, random_state=0, learning_rate=0.01, verbose=-1)
  lgb.fit(train_x, train_y, eval_set=[(train_x, train_y), (valid_x, valid_y)], early_stopping_rounds=100, verbose=100)

  lgb_train_pred = lgb.predict_proba(valid_x, num_iteration=lgb.best_iteration_)[:,1]
  score = roc_auc_score(valid_y, lgb_train_pred)
  print(f"validation ROC-AUC score : {score:.4f}")

  scores += score / 5
  models.append(lgb)
  print("*" * 20) 

print(f"All fold average score : {scores:.4f}")

Fold :  1
[100]	training's binary_logloss: 0.25486	valid_1's binary_logloss: 0.257472
[200]	training's binary_logloss: 0.24694	valid_1's binary_logloss: 0.251871
[300]	training's binary_logloss: 0.242208	valid_1's binary_logloss: 0.249643
[400]	training's binary_logloss: 0.238571	valid_1's binary_logloss: 0.248535
[500]	training's binary_logloss: 0.235619	valid_1's binary_logloss: 0.247887
[600]	training's binary_logloss: 0.233005	valid_1's binary_logloss: 0.247525
[700]	training's binary_logloss: 0.230652	valid_1's binary_logloss: 0.247394
[800]	training's binary_logloss: 0.228472	valid_1's binary_logloss: 0.247287
[900]	training's binary_logloss: 0.226416	valid_1's binary_logloss: 0.247225
[1000]	training's binary_logloss: 0.224466	valid_1's binary_logloss: 0.247169
[1100]	training's binary_logloss: 0.222621	valid_1's binary_logloss: 0.247164
validation ROC-AUC score : 0.7542
********************
Fold :  2
[100]	training's binary_logloss: 0.25477	valid_1's binary_logloss: 0.257456
[200]	training's binary_logloss: 0.247089	valid_1's binary_logloss: 0.251978
[300]	training's binary_logloss: 0.242265	valid_1's binary_logloss: 0.249343
[400]	training's binary_logloss: 0.238596	valid_1's binary_logloss: 0.247976
[500]	training's binary_logloss: 0.235494	valid_1's binary_logloss: 0.247253
[600]	training's binary_logloss: 0.232825	valid_1's binary_logloss: 0.24685
[700]	training's binary_logloss: 0.230438	valid_1's binary_logloss: 0.246614
[800]	training's binary_logloss: 0.228285	valid_1's binary_logloss: 0.246435
[900]	training's binary_logloss: 0.226242	valid_1's binary_logloss: 0.24635
[1000]	training's binary_logloss: 0.224215	valid_1's binary_logloss: 0.246275
[1100]	training's binary_logloss: 0.222338	valid_1's binary_logloss: 0.246266
[1200]	training's binary_logloss: 0.22053	valid_1's binary_logloss: 0.246239
[1300]	training's binary_logloss: 0.218768	valid_1's binary_logloss: 0.246227
[1400]	training's binary_logloss: 0.217016	valid_1's binary_logloss: 0.246187
[1500]	training's binary_logloss: 0.215303	valid_1's binary_logloss: 0.246138
[1600]	training's binary_logloss: 0.213587	valid_1's binary_logloss: 0.246107
[1700]	training's binary_logloss: 0.211947	valid_1's binary_logloss: 0.246096
[1800]	training's binary_logloss: 0.210335	valid_1's binary_logloss: 0.246103
validation ROC-AUC score : 0.7616
********************
Fold :  3
[100]	training's binary_logloss: 0.255212	valid_1's binary_logloss: 0.256406
[200]	training's binary_logloss: 0.247613	valid_1's binary_logloss: 0.250377
[300]	training's binary_logloss: 0.242814	valid_1's binary_logloss: 0.247614
[400]	training's binary_logloss: 0.239231	valid_1's binary_logloss: 0.246193
[500]	training's binary_logloss: 0.236241	valid_1's binary_logloss: 0.245316
[600]	training's binary_logloss: 0.233611	valid_1's binary_logloss: 0.244838
[700]	training's binary_logloss: 0.231267	valid_1's binary_logloss: 0.244644
[800]	training's binary_logloss: 0.2291	valid_1's binary_logloss: 0.244544
[900]	training's binary_logloss: 0.227039	valid_1's binary_logloss: 0.244488
[1000]	training's binary_logloss: 0.225071	valid_1's binary_logloss: 0.244432
[1100]	training's binary_logloss: 0.223111	valid_1's binary_logloss: 0.244396
[1200]	training's binary_logloss: 0.221264	valid_1's binary_logloss: 0.244344
[1300]	training's binary_logloss: 0.219457	valid_1's binary_logloss: 0.244265
[1400]	training's binary_logloss: 0.217656	valid_1's binary_logloss: 0.244176
[1500]	training's binary_logloss: 0.215904	valid_1's binary_logloss: 0.244152
validation ROC-AUC score : 0.7637
********************
Fold :  4
[100]	training's binary_logloss: 0.254632	valid_1's binary_logloss: 0.257211
[200]	training's binary_logloss: 0.246823	valid_1's binary_logloss: 0.251893
[300]	training's binary_logloss: 0.241977	valid_1's binary_logloss: 0.249459
[400]	training's binary_logloss: 0.2383	valid_1's binary_logloss: 0.24808
[500]	training's binary_logloss: 0.235333	valid_1's binary_logloss: 0.247499
[600]	training's binary_logloss: 0.23277	valid_1's binary_logloss: 0.24721
[700]	training's binary_logloss: 0.230459	valid_1's binary_logloss: 0.247013
[800]	training's binary_logloss: 0.228282	valid_1's binary_logloss: 0.246924
[900]	training's binary_logloss: 0.226297	valid_1's binary_logloss: 0.246868
[1000]	training's binary_logloss: 0.224384	valid_1's binary_logloss: 0.246826
[1100]	training's binary_logloss: 0.222527	valid_1's binary_logloss: 0.246765
[1200]	training's binary_logloss: 0.220716	valid_1's binary_logloss: 0.246736
[1300]	training's binary_logloss: 0.218899	valid_1's binary_logloss: 0.246682
[1400]	training's binary_logloss: 0.217166	valid_1's binary_logloss: 0.246644
[1500]	training's binary_logloss: 0.215496	valid_1's binary_logloss: 0.2466
[1600]	training's binary_logloss: 0.21383	valid_1's binary_logloss: 0.246587
[1700]	training's binary_logloss: 0.212169	valid_1's binary_logloss: 0.246617
validation ROC-AUC score : 0.7560
********************
Fold :  5
[100]	training's binary_logloss: 0.254696	valid_1's binary_logloss: 0.258099
[200]	training's binary_logloss: 0.247056	valid_1's binary_logloss: 0.252402
[300]	training's binary_logloss: 0.242352	valid_1's binary_logloss: 0.249699
[400]	training's binary_logloss: 0.238673	valid_1's binary_logloss: 0.248137
[500]	training's binary_logloss: 0.235665	valid_1's binary_logloss: 0.24719
[600]	training's binary_logloss: 0.233046	valid_1's binary_logloss: 0.246688
[700]	training's binary_logloss: 0.230683	valid_1's binary_logloss: 0.246408
[800]	training's binary_logloss: 0.22858	valid_1's binary_logloss: 0.246254
[900]	training's binary_logloss: 0.226558	valid_1's binary_logloss: 0.24612
[1000]	training's binary_logloss: 0.224616	valid_1's binary_logloss: 0.245995
[1100]	training's binary_logloss: 0.222781	valid_1's binary_logloss: 0.245939
[1200]	training's binary_logloss: 0.220909	valid_1's binary_logloss: 0.245882
[1300]	training's binary_logloss: 0.219065	valid_1's binary_logloss: 0.2458
[1400]	training's binary_logloss: 0.217272	valid_1's binary_logloss: 0.245753
[1500]	training's binary_logloss: 0.215507	valid_1's binary_logloss: 0.245729
[1600]	training's binary_logloss: 0.213785	valid_1's binary_logloss: 0.245713
[1700]	training's binary_logloss: 0.212124	valid_1's binary_logloss: 0.245708
validation ROC-AUC score : 0.7607
********************
All fold average score : 0.7592

In [37]:
preds = np.zeros(len(test))
test = test[feats]

for model in models:
  pred = model.predict_proba(test)[:, 1]
  preds += pred / len(models)

sample_sub['TARGET'] = preds
sample_sub

       SK_ID_CURR    TARGET
0          171202  0.032213
1          171203  0.203527
2          171204  0.152906
3          171205  0.114662
4          171206  0.230211
...           ...       ...
61495      232697  0.117872
61496      232698  0.036719
61497      232699  0.042897
61498      232700  0.161429
61499      232701  0.107110

[61500 rows x 2 columns]

In [ ]:
sample_sub.to_csv('../submission/submission4.csv',index=False)